<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="icon" href="./images/weather.png">
</head>
<body>
    <div class="main">
        <h1> {{title}}</h1>
         {{>header}}
         <p>Uses DarkSky and Mapbox APIs</p>
    </div>
    {{>footer}}

</body>
</html>