<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="./style/style.css">
        <link rel="icon" href="./images/weather.png">
    </head>
    <body>
        <div class="main">
            <div>{{msg}}</div>
            {{>header}}            
         </div>
        {{>footer}}
    </body>
</html>