<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="icon" href="./images/weather.png">
</head>
<body>
<div class="main">
    <h1> {{title}}</h1>
    {{>header}}
    </div>
    {{>footer}}

</body>
</html>