<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="icon" href="./images/weather.png">
</head>
<body>
    <div class="main">
        <h1>{{title}}</h1>
        {{>header}}
        <form>
            <input placeholder="Type location ...">
            <button>Search</button>
        </form>
        <h2></h2>
    <p class="p1"></p>
    <p class="p2"></p>
    <p class="p3"></p>
    <p class="p4"></p>
    </div>
    
    
    {{>footer}}
    
<script src="./frontend.js"></script>
</body>
</html>